+b.MAIN.home
	+e.SECTION.section--intro#intro
		+e.decor--intro(data-animate="fade")
			+picture('intro/decor', 'png', true, true, 'decor')
		+e.spot
		include ../components/intro
	+e.SECTION.section--generator#generator
		include ../components/generator
	+e.SECTION.section--realisation#realisation
		include ../components/realisation
	+e.SECTION.section--helper#helper
		+e.decor--helper(data-animate="fade")
			+picture('helper/decor', 'png', false, false, 'decor')
		include ../components/helper
	+e.SECTION.section--support#support
		include ../components/support
	+e.SECTION.section--generator2
		include ../components/generator2
	+e.SECTION.section--about#about
		include ../components/about
