@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

@use "sass:color";

@use "sass:math";

.button {
	$p: &;

	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: responsive.vc(5);
	width: 100%;
	height: 100%;
	font-family: variables.$font-raleway;
	font-weight: 800;
	font-size: responsive.vc(14);
	line-height: math.div(16, 14);
	text-align: center;
	color: variables.$color-white;
	background-color: variables.$color-azure-radiance;
	transition: variables.$duration-normal;

	span {
		display: flex;
		align-items: center;
	}

	.svg-icon {
		margin-right: responsive.vc(8);
		width: responsive.vc(20);
		height: responsive.vc(20);
	}

	&:active {
		background-color: color.adjust(variables.$color-azure-radiance, $lightness: -5%, $space: hsl);
	}

	&--header {
		font-family: variables.$font-manrope;
		font-weight: 400;
		font-size: responsive.vc(12);
		line-height: math.div(16, 12);
		text-transform: uppercase;
	}

	&--helper {
		border-radius: responsive.vc(10);
		font-size: responsive.vc(12);
		line-height: math.div(14, 12);
	}

	&--search {
		font-weight: 700;
	}

	&--search-button {
		border: 1px solid variables.$color-azure-radiance;
		border-radius: responsive.vc(5);
		width: responsive.vc(105);
		height: responsive.vc(40);
		color: variables.$color-azure-radiance;
		background: transparent;

		@include breakpoint.desktop {
			display: none;
		}

		@include breakpoint.mobile {
			width: 30%;
		}
	}

	&--option1,
	&--option2,
	&--option3 {
		border-radius: responsive.vc(10);
		font-size: responsive.vc(12);

		&:not(.is-select) {
			border: 1px solid variables.$color-azure-radiance;
			font-weight: 400;
			color: variables.$color-azure-radiance;
			background-color: transparent;

			&:active {
				background-color: variables.$color-white;
			}
		}

		&.is-select {
			font-weight: 700;
			pointer-events: none;
		}

		&.no-border {
			border: transparent;
		}

		&.disabled {
			border: 1px solid #9bafbd;
			color: #9bafbd;

			> span > svg {
				filter: brightness(0) invert(0.5);
			}
		}
	}

	&--ok,
	&--close,
	&--delete,
	&--welcome {
		border-radius: responsive.vc(10);
		font-weight: 500;
	}

	&--ok,
	&--close,
	&--welcome {
		border: 1px solid variables.$color-azure-radiance;
		color: variables.$color-azure-radiance;
		background-color: transparent;

		&:active {
			background-color: variables.$color-white;
		}
	}

	&--delete {
		background-color: variables.$color-razzmatazz;

		&:active {
			background-color: color.adjust(variables.$color-razzmatazz, $lightness: -5%, $space: hsl);
		}
	}

	&--notifications {
		border-radius: responsive.vc(10);
	}

	@include breakpoint.tablet {
		&--helper {
			font-size: responsive.vc(16);
			line-height: math.div(19, 16);
		}

		&--option1,
		&--option2,
		&--option3 {
			border-radius: responsive.vc(10);
			font-size: responsive.vc(14);
		}
	}

	@include breakpoint.desktop {
		&:hover {
			color: variables.$color-white;
			background-color: color.adjust(variables.$color-azure-radiance, $lightness: -5%, $space: hsl);
		}

		&--helper {
			font-size: responsive.vc(16);
			line-height: math.div(19, 16);
		}

		&--option1,
		&--option2,
		&--option3 {
			font-size: responsive.vc(14);

			&:not(.is-select) {
				&:hover {
					color: variables.$color-white;
					background-color: variables.$color-azure-radiance;

					> span > svg {
						filter: brightness(0) invert(1);
					}

					&.disabled {
						color: #9bafbd;
						background-color: transparent;

						> span > svg {
							filter: brightness(0) invert(0.5);
						}
					}
				}
			}
		}

		&--ok,
		&--close {
			&:hover {
				color: variables.$color-white;
				background-color: variables.$color-azure-radiance;
			}
		}

		&--delete {
			&:hover {
				background-color: color.adjust(variables.$color-razzmatazz, $lightness: -5%, $space: hsl);
			}
		}
	}
}

.vip {
	.button--option1,
	.button--option2,
	.button--option3 {
		&:not(.is-select) {
			border: 1px solid variables.$color-white;
			font-weight: 400;
			color: variables.$color-white;
			background-color: transparent;
		}

		&.is-select {
			font-weight: 700;
			background-color: #1c1c1c;
		}

		&.disabled {
			border: 1px solid #9bafbd;
			color: #9bafbd;

			> span > svg {
				filter: none;
			}
		}
	}

	.button--close {
		border-color: variables.$color-white;
		color: variables.$color-white;

		&:hover {
			color: variables.$color-dark;
			background-color: variables.$color-white;
		}
	}
}
