@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

@use "sass:math";

.footer {
	$p: &;

	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto auto 0;
	padding: 0 responsive.vc(30) responsive.vc(30);
	width: 100%;
	font-size: responsive.vc(12);
	line-height: math.div(14, 12);
	color: variables.$color-gill-grey;

	&__link {
		margin: 0 responsive.vc(22) 0 0;

		@include breakpoint.tablet {
			margin: 0 responsive.vc(44) 0 0;
		}

		@include breakpoint.desktop {
			margin: 0 responsive.vc(44) 0 0;
		}
	}

	@include breakpoint.tablet {
		padding: 0 responsive.vc(24) responsive.vc(57);
		font-size: responsive.vc(15);
		line-height: math.div(18, 15);
	}

	@include breakpoint.desktop {
		margin: 0 auto;
		padding: 0 responsive.vc(40) responsive.vc(43);
		font-size: responsive.vc(15);
		line-height: math.div(18, 15);
	}
}

.vip .footer__copyright {
	z-index: 10;
}
