@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

@use "sass:math";

.generator {
	$p: &;

	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin: 0 responsive.vc(16);
	border-radius: responsive.vc(20);
	padding: responsive.vc(20) responsive.vc(14);
	background-color: variables.$color-white;

	&__description {
		margin: 0 0 responsive.vc(24);

		@include breakpoint.tablet {
			margin: 0 0 responsive.vc(16);
		}

		@include breakpoint.desktop {
			margin: 0;
		}
	}

	&__title {
		margin: 0 0 responsive.vc(8);

		@include breakpoint.tablet {
			margin: 0 0 responsive.vc(16);
			max-width: responsive.vc(653);

			&--2 {
				max-width: responsive.vc(440);
			}
		}

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(16);
			max-width: responsive.vc(653);
		}
	}

	&__text {
		&:not(:last-child) {
			margin: 0 0 responsive.vc(21);
		}

		@include breakpoint.tablet {
			max-width: responsive.vc(555);

			&:not(:last-child) {
				margin: 0 0 responsive.vc(22);
			}

			&--2 {
				max-width: responsive.vc(440);
			}
		}

		@include breakpoint.desktop {
			max-width: responsive.vc(555);

			&:not(:last-child) {
				margin: 0 0 responsive.vc(24);
			}
		}
	}

	&__cards {
		display: grid;
		grid-auto-flow: dense;
		grid-auto-rows: responsive.vc(129);
		grid-template-columns: repeat(2, 1fr);
		gap: responsive.vc(15);

		@include breakpoint.tablet {
			grid-auto-rows: responsive.vc(145);
			grid-template-columns: repeat(3, 1fr);
			gap: responsive.vc(25) responsive.vc(20);
		}

		@include breakpoint.desktop {
			grid-auto-rows: responsive.vc(145);
			grid-template-columns: repeat(3, 1fr);
			gap: responsive.vc(25) responsive.vc(20);
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border-radius: responsive.vc(20);
		padding: responsive.vc(12) responsive.vc(7) responsive.vc(16);
		background-color: variables.$color-catskill-white;

		&--last {
			justify-content: center;
			grid-column: span 2;
			background-color: variables.$color-azure-radiance;
		}

		@include breakpoint.tablet {
			padding: responsive.vc(12) responsive.vc(15) responsive.vc(15);

			&--last {
				grid-column: 3;
				grid-row: 1 / span 2;
				padding: 0;
				width: responsive.vc(325);
			}
		}

		@include breakpoint.desktop {
			padding: responsive.vc(12) responsive.vc(15) responsive.vc(15);
			width: responsive.vc(210);

			&--last {
				grid-column: 3;
				grid-row: 1 / span 2;
				padding: 0;
			}
		}
	}

	&__card-num {
		font-weight: 800;
		font-feature-settings: "pnum" on, "lnum" on;
		font-size: responsive.vc(55);
		line-height: math.div(65, 55);
		color: variables.$color-onahau;

		@include breakpoint.tablet {
			font-size: responsive.vc(66);
			line-height: math.div(77, 66);
		}

		@include breakpoint.desktop {
			font-size: responsive.vc(66);
			line-height: math.div(77, 66);
		}
	}

	&__card-text {
		font-size: responsive.vc(12);
		line-height: math.div(15, 12);
		text-align: center;

		#{$p}__card--last & {
			font-weight: 500;
			font-feature-settings: "pnum" on, "lnum" on;
			font-size: responsive.vc(16);
			line-height: math.div(22, 16);
			color: variables.$color-white;
		}

		@include breakpoint.tablet {
			font-size: responsive.vc(14);
			line-height: math.div(19, 14);

			#{$p}__card--last & {
				font-weight: 700;
				font-size: responsive.vc(22);
				line-height: math.div(30, 22);
			}
		}

		@include breakpoint.desktop {
			font-size: responsive.vc(14);
			line-height: math.div(19, 14);

			#{$p}__card--last & {
				font-weight: 700;
				font-size: responsive.vc(20);
				line-height: (25 * 0.05);
			}
		}
	}

	&__decor {
		margin: 0 responsive.vc(-14);
		width: responsive.vc(353);
		height: responsive.vc(208);

		picture,
		img {
			width: 100%;
			height: 100%;
			font-family: "object-fit:contain";
			object-fit: contain;
		}

		@include breakpoint.tablet {
			margin: 0;
			width: responsive.vc(340);
			height: responsive.vc(201);
		}

		@include breakpoint.desktop {
			margin: 0 responsive.vc(-55) 0 0;
			width: responsive.vc(614);
			height: responsive.vc(365);
		}
	}

	&--2 {
		padding: responsive.vc(20) responsive.vc(14) responsive.vc(24);
	}

	@include breakpoint.tablet {
		margin: 0 responsive.vc(10);
		border-radius: responsive.vc(40);
		padding: responsive.vc(32) responsive.vc(15) responsive.vc(24);

		&--2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: responsive.vc(48) 0 responsive.vc(48) responsive.vc(14);
		}
	}

	@include breakpoint.desktop {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		border-radius: responsive.vc(40);
		padding: responsive.vc(40) responsive.vc(20) responsive.vc(40) responsive.vc(30);
		max-width: responsive.vc(1400);

		&--2 {
			padding: responsive.vc(1) 0 responsive.vc(1) responsive.vc(30);
		}
	}
}
