.generator {
	$p: &;

	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin: 0 vc(16);
	border-radius: vc(20);
	padding: vc(20) vc(14);
	background-color: $color-white;

	&__description {
		margin: 0 0 vc(24);

		@include tablet {
			margin: 0 0 vc(16);
		}

		@include desktop {
			margin: 0;
		}
	}

	&__title {
		margin: 0 0 vc(8);

		@include tablet {
			margin: 0 0 vc(16);
			max-width: vc(653);

			&--2 {
				max-width: vc(440);
			}
		}

		@include desktop {
			margin: 0 0 vc(16);
			max-width: vc(653);
		}
	}

	&__text {
		&:not(:last-child) {
			margin: 0 0 vc(21);
		}

		@include tablet {
			max-width: vc(555);

			&:not(:last-child) {
				margin: 0 0 vc(22);
			}

			&--2 {
				max-width: vc(440);
			}
		}

		@include desktop {
			max-width: vc(555);

			&:not(:last-child) {
				margin: 0 0 vc(24);
			}
		}
	}

	&__cards {
		display: grid;
		row-gap: vc(15);
		column-gap: vc(15);
		grid-auto-flow: dense;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: vc(129);

		@include tablet {
			row-gap: vc(25);
			column-gap: vc(20);
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: vc(145);
		}

		@include desktop {
			row-gap: vc(25);
			column-gap: vc(20);
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: vc(145);
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border-radius: vc(20);
		padding: vc(12) vc(7) vc(16);
		background-color: $color-catskill-white;

		&--last {
			grid-column: span 2;
			justify-content: center;
			background-color: $color-azure-radiance;
		}

		@include tablet {
			padding: vc(12) vc(15) vc(15);

			&--last {
				padding: 0;
				grid-row: 1 / span 2;
				grid-column: 3;
				width: vc(325);
			}
		}

		@include desktop {
			padding: vc(12) vc(15) vc(15);
			width: vc(210);

			&--last {
				grid-row: 1 / span 2;
				grid-column: 3;
				padding: 0;
			}
		}
	}

	&__card-num {
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-weight: 800;
		font-size: vc(55);
		line-height: (65 / 55);
		color: $color-onahau;

		@include tablet {
			font-size: vc(66);
			line-height: (77 / 66);
		}

		@include desktop {
			font-size: vc(66);
			line-height: (77 / 66);
		}
	}

	&__card-text {
		font-size: vc(12);
		line-height: (15 / 12);
		text-align: center;

		#{$p}__card--last & {
			font-feature-settings: 'pnum' on, 'lnum' on;
			font-weight: 500;
			font-size: vc(16);
			line-height: (22 / 16);
			color: $color-white;
		}

		@include tablet {
			font-size: vc(14);
			line-height: (19 / 14);

			#{$p}__card--last & {
				font-weight: 700;
				font-size: vc(22);
				line-height: (30 / 22);
			}
		}

		@include desktop {
			font-size: vc(14);
			line-height: (19 / 14);

			#{$p}__card--last & {
				font-weight: 700;
				font-size: vc(20);
				line-height: (25 / 20);
			}
		}
	}

	&__decor {
		margin: 0 vc(-14);
		width: vc(353);
		height: vc(208);

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			font-family: "object-fit:contain";
		}

		@include tablet {
			margin: 0;
			width: vc(340);
			height: vc(201);
		}

		@include desktop {
			margin: 0 vc(-55) 0 0;
			width: vc(614);
			height: vc(365);
		}
	}

	&--2 {
		padding: vc(20) vc(14) vc(24);
	}

	@include tablet {
		margin: 0 vc(10);
		border-radius: vc(40);
		padding: vc(32) vc(15) vc(24);

		&--2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: vc(48) 0 vc(48) vc(14);
		}
	}

	@include desktop {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		border-radius: vc(40);
		padding: vc(40) vc(20) vc(40) vc(30);
		max-width: vc(1400);

		&--2 {
			padding: vc(1) 0 vc(1) vc(30);
		}
	}
}
