@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

.helper {
	$p: &;

	position: relative;
	z-index: 3;
	padding: responsive.vc(32) responsive.vc(30) responsive.vc(56);

	&__description {
		margin: 0 0 responsive.vc(24);

		@include breakpoint.tablet {
			margin: 0 responsive.vc(20) 0 0;
		}

		@include breakpoint.desktop {
			margin: 0 responsive.vc(115) 0 0;
		}
	}

	&__title {
		margin: 0 0 responsive.vc(8);

		@include breakpoint.tablet {
			margin: 0 0 responsive.vc(12);
		}

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(16);
		}
	}

	&__text {
		@include breakpoint.desktop {
			max-width: responsive.vc(555);
		}
	}

	&__form {
		border-radius: responsive.vc(20);
		padding: responsive.vc(24) responsive.vc(16);
		background-color: variables.$color-white;

		@include breakpoint.tablet {
			padding: responsive.vc(32) responsive.vc(16);
		}

		@include breakpoint.desktop {
			padding: responsive.vc(32);
		}
	}

	&__label {
		display: block;
		margin: 0 0 responsive.vc(8);
	}

	&__input {
		border: 1px solid variables.$color-malibu;
		border-radius: responsive.vc(6);
		padding: 0 responsive.vc(16);
		width: 100%;
		height: responsive.vc(45);
		font-size: (12);
		color: variables.$color-black;
		transition: border-color variables.$duration-normal;

		&.is-error {
			border-color: variables.$color-razzmatazz;
		}

		@include breakpoint.tablet {
			width: responsive.vc(293);
			font-size: responsive.vc(14);
		}

		@include breakpoint.desktop {
			width: responsive.vc(376);
			font-size: responsive.vc(14);
		}
	}

	&__accept {
		display: flex;
		align-items: center;
		margin: 0 0 responsive.vc(24);
		font-size: responsive.vc(8);
		line-height: (10 * 0.125);
		color: variables.$color-black;

		input {
			display: none;

			&:checked + span {
				background: url(variables.$url-image + 'sprites/svg/icon-checkbox.svg') no-repeat center center;
				background-size: cover;
			}
		}

		span {
			margin: 0 responsive.vc(8) 0 0;
			border: 1px solid variables.$color-malibu;
			border-radius: responsive.vc(2);
			width: responsive.vc(10);
			height: responsive.vc(10);
		}

		.is-error + span {
			border-color: #ed0b70;
		}

		@include breakpoint.desktop {
			a {
				text-decoration: underline;

				&:hover {
					color: variables.$color-azure-radiance;
				}
			}
		}
	}

	&__button {
		width: responsive.vc(170);
		height: responsive.vc(40);

		@include breakpoint.tablet {
			width: responsive.vc(209);
			height: responsive.vc(44);
		}

		@include breakpoint.desktop {
			width: responsive.vc(209);
			height: responsive.vc(44);
		}
	}

	@include breakpoint.tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: responsive.vc(32) responsive.vc(24);
	}

	@include breakpoint.desktop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: responsive.vc(32) responsive.vc(155) responsive.vc(32) responsive.vc(41);
		max-width: responsive.vc(1440);
	}
}
