@use "../functions/responsive";
@use "../mixins/breakpoint";

.intro {
	$p: &;

	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: responsive.vc(39) responsive.vc(16) 0 responsive.vc(30);
	width: 100%;
	height: responsive.vc(471);

	&__title {
		margin: 0 0 responsive.vc(8);

		@include breakpoint.tablet {
			margin: 0 0 responsive.vc(16);
			max-width: responsive.vc(653);
		}

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(16);
			max-width: responsive.vc(653);
		}
	}

	&__text {
		margin: 0 0 responsive.vc(24);

		@include breakpoint.tablet {
			max-width: responsive.vc(555);
		}

		@include breakpoint.desktop {
			max-width: responsive.vc(555);
		}
	}

	&__button {
		width: responsive.vc(210);
		height: responsive.vc(50);
	}

	@include breakpoint.tablet {
		padding: responsive.vc(115) responsive.vc(25) 0;
		height: responsive.vc(476);
	}

	@include breakpoint.desktop {
		margin: 0 auto;
		padding: 0 responsive.vc(40) responsive.vc(1);
		height: responsive.vc(720);
		max-width: responsive.vc(1440);
	}
}
