@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

.notifications {
	$p: &;

	padding: responsive.vc(67) responsive.vc(30) responsive.vc(88);
	height: 100%;

	&__headline {
		display: flex;
		flex-direction: column;
		margin: 0 0 responsive.vc(12);
		gap: responsive.vc(6);

		@include breakpoint.tablet {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		@include breakpoint.desktop {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 0 0 responsive.vc(16);
		}
	}

	&__filter-block {
		position: relative;
		z-index: 3;
		display: flex;
		align-items: center;
		width: 100%;

		@include breakpoint.tablet {
			width: fit-content;
		}

		@include breakpoint.desktop {
			width: fit-content;
		}
	}

	&__messages {
		display: flex;
		flex-direction: column;
		gap: responsive.vc(12);

		@include breakpoint.tablet {
			gap: responsive.vc(8);
		}
	}

	&__message {
		position: relative;
		z-index: 1;
		flex-shrink: 0;
		border-radius: responsive.vc(10);
		padding: responsive.vc(16) responsive.vc(12);
		width: 100%;
		background-color: variables.$color-white;
		cursor: pointer;

		&--important {
			#{$p}__message-title {
				color: variables.$color-red;
			}
		}

		&--read {
			opacity: 0.6;
			pointer-events: none;

			#{$p}__message-button {
				display: none;
			}
		}

		@include breakpoint.tablet {
			display: flex;
			align-items: center;
			padding: responsive.vc(12) responsive.vc(12) responsive.vc(12) responsive.vc(16);
		}

		@include breakpoint.desktop {
			display: flex;
			align-items: center;
			padding: responsive.vc(16) responsive.vc(32) responsive.vc(16) responsive.vc(16);
		}
	}

	&__message-icon {
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
		border-radius: 50%;
		width: responsive.vc(50);
		height: responsive.vc(50);
		background: linear-gradient(135deg, rgba(190, 248, 252, 0) 13.11%, #57c3ff 87.68%);

		svg {
			display: block;
		}

		@include breakpoint.mobile {
			position: absolute;
			left: responsive.vc(12);
			top: responsive.vc(16);
			z-index: -1;
		}

		@include breakpoint.tablet {
			margin: 0 responsive.vc(20) 0 0;
			width: responsive.vc(70);
			height: responsive.vc(70);
		}

		@include breakpoint.desktop {
			margin: 0 responsive.vc(24) 0 0;
			width: responsive.vc(71);
			height: responsive.vc(71);
		}
	}

	&__message-description {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: responsive.vc(3);

		@include breakpoint.tablet {
			width: responsive.vc(443);
			gap: responsive.vc(4) responsive.vc(8);
		}

		@include breakpoint.desktop {
			width: responsive.vc(868);
			gap: responsive.vc(4) responsive.vc(8);
		}
	}

	&__message-title {
		font-weight: 700;
		font-size: responsive.vc(16);
		line-height: calc(18 / 16);

		@include breakpoint.mobile {
			display: flex;
			align-items: center;
			overflow: hidden;
			margin: 0 0 responsive.vc(2);
			padding: 0 responsive.vc(40) 0 responsive.vc(62);
			width: 100%;
			height: responsive.vc(38);
		}

		@include breakpoint.desktop {
			font-size: responsive.vc(18);
			line-height: calc(21 / 18);
		}
	}

	&__message-date {
		border-radius: responsive.vc(5);
		padding: responsive.vc(2) responsive.vc(8) responsive.vc(1);
		font-size: responsive.vc(12);
		line-height: calc(14 / 12);
		color: variables.$color-silver-chalice-2;
		background-color: variables.$color-catskill-white;

		@include breakpoint.mobile {
			order: -1;
			margin: responsive.vc(-8) responsive.vc(-4) 0 auto;
		}
	}

	&__message-text {
		width: 100%;
		font-size: responsive.vc(12);
		line-height: calc(18 / 12);
		color: variables.$color-black;

		@include breakpoint.tablet {
			line-height: calc(20 / 12);
		}

		@include breakpoint.desktop {
			font-size: responsive.vc(14);
			line-height: calc(20 / 14);
		}
	}

	&__message-button {
		width: responsive.vc(178);
		height: responsive.vc(40);

		@include breakpoint.mobile {
			margin: responsive.vc(24) 0 0;
		}

		@include breakpoint.tablet {
			margin: 0 0 0 auto;
			width: responsive.vc(140);
		}

		@include breakpoint.desktop {
			margin: 0 0 0 auto;
		}
	}

	&__message-load {
		width: 100%;
		height: 1px;
		pointer-events: none;
	}

	@include breakpoint.tablet {
		padding: responsive.vc(87) responsive.vc(25) responsive.vc(115);
	}

	@include breakpoint.desktop {
		padding: responsive.vc(110) responsive.vc(40) responsive.vc(80);
		min-height: calc(100vh - #{responsive.vc(80)});
	}
}
