@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

@use "sass:math";

.popup {
	$p: &;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	&__fake-area {
		position: absolute;
	}

	&__overlay {
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.6);

		&.welcome,
		&.error {
			position: fixed;
			inset: 0;
		}

		&.welcome {
			backdrop-filter: blur(responsive.vc(7));
		}

		&.error {
			background: rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(12px);
		}

		&.qr {
			left: auto;
			top: responsive.vc(163);
			z-index: 5;
			border-radius: responsive.vc(10);
			width: responsive.vc(466);
			height: responsive.vc(529);
			background: rgba(0, 0, 0, 0.2);
			backdrop-filter: none;

			@include breakpoint.tablet {
				top: responsive.vc(70);
			}

			@include breakpoint.mobile {
				top: responsive.vc(7);
				width: responsive.vc(345);
				height: responsive.vc(507);
			}
		}

		&.notifications {
			background: rgba(variables.$color-black, 0.1);
			backdrop-filter: blur(responsive.vc(4));
		}
	}

	&__alert {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: responsive.vc(20);
		padding: responsive.vc(32) responsive.vc(25);
		width: calc(100% - #{responsive.vc(60)});
		background-color: variables.$color-catskill-white;
		backdrop-filter: blur(responsive.vc(34));

		&.error {
			padding: responsive.vc(40) responsive.vc(41);
			width: responsive.vc(440);
			height: responsive.vc(396);
			backdrop-filter: blur(17px);

			@include breakpoint.mobile {
				padding: responsive.vc(40) responsive.vc(10);
				width: responsive.vc(325);
				height: responsive.vc(389);
			}
		}

		&.welcome {
			overflow: hidden;
			width: responsive.vc(440);
			height: responsive.vc(374);
		}

		&.welcome-add {
			padding: 0;
			width: responsive.vc(440);
			height: responsive.vc(160);
		}

		&.welcome-qr {
			position: absolute;
			left: auto;
			top: responsive.vc(177);
			padding: calc(53 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
			width: responsive.vc(440);
			height: responsive.vc(500);

			&-description {
				position: absolute;
				right: responsive.vc(40);
				top: responsive.vc(177);
				padding: calc(32 * var(--width-multiplier)) calc(42 * var(--width-multiplier));
				width: responsive.vc(440);
				height: responsive.vc(180);
			}
		}

		&.welcome-save,
		&.welcome-delete,
		&.welcome-search {
			padding: calc(32 * var(--width-multiplier)) calc(41 * var(--width-multiplier));
			width: responsive.vc(440);
		}

		&.welcome-save {
			position: absolute;
			right: auto;
			top: responsive.vc(302);
			height: responsive.vc(216);
		}

		&.welcome-delete {
			position: absolute;
			right: auto;
			top: responsive.vc(480);
			height: responsive.vc(320);
		}

		&.welcome-search {
			height: responsive.vc(180);
		}

		&.welcome-congrats {
			padding: calc(32 * var(--width-multiplier)) calc(45 * var(--width-multiplier));
			width: responsive.vc(440);
			height: responsive.vc(440);
			text-align: center;

			a {
				text-decoration: underline;
			}
		}

		@include breakpoint.mobile {
			padding: responsive.vc(32) responsive.vc(16);
		}

		@include breakpoint.tablet {
			padding: responsive.vc(32);
			width: responsive.vc(440);

			&.welcome-qr {
				top: responsive.vc(84);

				&-description {
					left: auto;
					right: auto;
					top: responsive.vc(620);
				}
			}

			&.welcome-save {
				right: responsive.vc(32);
				top: responsive.vc(462);
				padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
				width: responsive.vc(374);
			}

			&.welcome-delete {
				right: responsive.vc(32);
				top: responsive.vc(545);
				padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
				width: responsive.vc(374);
				height: calc(343 * var(--width-multiplier));
			}
		}

		@include breakpoint.desktop {
			padding: responsive.vc(32);
			width: responsive.vc(440);
		}

		@include breakpoint.mobile {
			&.welcome {
				width: responsive.vc(326);
				height: responsive.vc(304);
			}

			&.welcome-add {
				position: absolute;
				top: calc(284 * var(--width-multiplier));
				padding: responsive.vc(15);
				width: calc(325 * var(--width-multiplier));
				height: calc(148 * var(--width-multiplier));
			}

			&.welcome-congrats {
				padding: calc(32 * var(--width-multiplier)) calc(15 * var(--width-multiplier));
				width: calc(325 * var(--width-multiplier));
				height: calc(465 * var(--width-multiplier));
			}

			&.welcome-qr {
				left: auto;
				top: responsive.vc(20);
				width: responsive.vc(325);
				height: responsive.vc(480);

				&-description {
					left: auto;
					right: auto;
					top: responsive.vc(520);
					padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
					width: responsive.vc(325);
					height: responsive.vc(164);
				}
			}

			&.welcome-save {
				right: auto;
				top: responsive.vc(60);
				padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
				width: responsive.vc(316.4);
				height: responsive.vc(184);
			}

			&.welcome-delete {
				right: auto;
				top: responsive.vc(114);
				padding: responsive.vc(20) responsive.vc(10);
				width: responsive.vc(316.4);
				height: responsive.vc(257);
			}

			&.welcome-search {
				position: absolute;
				right: responsive.vc(30);
				top: responsive.vc(245);
				padding: responsive.vc(32) responsive.vc(10);
				width: responsive.vc(325);
				height: responsive.vc(164);
			}
		}
	}

	&__icon {
		margin: 0 0 responsive.vc(24);
		border: 1px solid variables.$color-razzmatazz;
		border-radius: 50%;
		width: responsive.vc(94);
		height: responsive.vc(94);

		svg {
			width: 100%;
			height: 100%;
			font-family: "object-fit:cover", serif;
			object-fit: cover;
		}
	}

	.svg-icon--link {
		color: #0179e5;
		filter: none;
	}

	&__icon-welcome-congrats {
		background: url(variables.$url-image + 'svg/icon-medal-star.svg') no-repeat center center;
		background-size: contain;
	}

	&__icon-arrow-add {
		position: absolute;
		right: responsive.vc(50);
		top: responsive.vc(20);
		width: 30%;
		height: 30%;
		background: url(variables.$url-image + 'svg/arrow-welcome-add.svg') no-repeat center center;
		background-size: cover;
	}

	&__icon-qr-code {
		margin-bottom: responsive.vc(32);
		height: responsive.vc(158);

		@include breakpoint.mobile {
			& {
				margin-bottom: responsive.vc(24);
			}
		}
	}

	&__icon-sad-error {
		mask-image: url(variables.$url-image + 'svg/icon-sad-error.svg');
		mask-size: cover;
		margin: 0 0 responsive.vc(32);
		width: responsive.vc(100);
		height: responsive.vc(100);
		color: #292d32;
		background-color: currentcolor;
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: responsive.vc(8);

		@include breakpoint.mobile {
			gap: responsive.vc(2);
		}
	}

	&__title {
		margin: 0 0 responsive.vc(16);
		font-weight: 700;
		font-size: responsive.vc(16);
		line-height: math.div(19, 16);
		text-align: center;

		&.error {
			margin: 0 0 responsive.vc(8);
			font-size: responsive.vc(24);
			line-height: responsive.vc(28);

			@include breakpoint.mobile {
				font-size: responsive.vc(18);
				line-height: responsive.vc(21);
			}
		}

		&.welcome {
			width: responsive.vc(357);
			font-size: responsive.vc(24);

			@include breakpoint.mobile {
				& {
					width: responsive.vc(275);
					font-size: responsive.vc(16);
				}
			}
		}

		&.welcome-add {
			font-size: responsive.vc(17);
			line-height: responsive.vc(20);
		}

		&.qr-title {
			margin: 0 0 responsive.vc(8);

			&-description {
				margin: 0 0 calc(16 * var(--width-multiplier));
				font-size: responsive.vc(17);
				line-height: responsive.vc(20);
			}
		}

		&.title-regular {
			font-weight: 400;
		}

		&.save-title {
			margin: 0 0 calc(8 * var(--width-multiplier));
			font-size: responsive.vc(17);
			line-height: responsive.vc(20);

			&.red {
				color: variables.$color-red;
			}
		}

		&.welcome-congrats {
			margin: 0 0 calc(24 * var(--width-multiplier));
		}

		@include breakpoint.tablet {
			margin: 0 0 responsive.vc(24);
			max-width: responsive.vc(357);
			font-size: responsive.vc(24);
			line-height: math.div(28, 24);

			&.qr-title {
				margin: 0 0 responsive.vc(8);
			}
		}

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(24);
			max-width: responsive.vc(357);
			font-size: responsive.vc(24);
			line-height: math.div(28, 24);

			&.qr-title {
				margin: 0 0 responsive.vc(8);
			}
		}

		@include breakpoint.mobile {
			&.welcome-congrats {
				margin: 0 0 calc(8 * var(--width-multiplier));
				font-size: responsive.vc(16);
				line-height: responsive.vc(19);
			}

			&.welcome-add {
				font-size: responsive.vc(14);
				line-height: responsive.vc(16);
			}

			&.qr-title {
				font-size: responsive.vc(18);
				line-height: responsive.vc(21);

				&-description {
					font-size: responsive.vc(14);
					line-height: responsive.vc(16);
				}
			}

			&.save-title {
				font-size: responsive.vc(14);
				line-height: responsive.vc(16);
			}

			&.welcome-congrats {
				margin: 0 0 calc(16 * var(--width-multiplier));
			}
		}
	}

	&__subtitle {
		margin-bottom: responsive.vc(4);
		line-height: responsive.vc(24);
		text-align: center;

		a {
			font-weight: 700;
			text-decoration: underline;
		}

		@include breakpoint.mobile {
			&.qr-subtitle {
				font-size: responsive.vc(14);
				line-height: responsive.vc(20);
			}
		}
	}

	&__text {
		margin: 0 0 responsive.vc(12);
		font-size: responsive.vc(16);
		line-height: math.div(24, 16);

		&.error {
			font-size: responsive.vc(16);
			line-height: responsive.vc(24);
			text-align: center;
			color: #1d4365;

			> span {
				margin-right: responsive.vc(2);
			}

			@include breakpoint.mobile {
				width: responsive.vc(244);
				font-size: responsive.vc(14);
				line-height: responsive.vc(20);
			}
		}

		&.welcome {
			margin-top: responsive.vc(12);
			text-decoration: underline;

			&.bottom-close {
				position: absolute;
				bottom: responsive.vc(100);
				font-size: responsive.vc(14);
				line-height: responsive.vc(16);
				color: variables.$color-white;

				&.top {
					@include breakpoint.mobile {
						top: responsive.vc(60);
						bottom: auto;
					}
				}

				@include breakpoint.tablet {
					bottom: responsive.vc(10);
				}

				@include breakpoint.mobile {
					bottom: responsive.vc(10);
				}
			}
		}
	}

	&__name {
		margin: 0 0 responsive.vc(4);
		font-size: responsive.vc(14);
		line-height: calc(24 / 14);
		color: rgba(variables.$color-biscay, 0.4);

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(8);
			font-size: responsive.vc(16);
			line-height: calc(24 / 16);
		}
	}

	&__tunnel {
		display: block;
		padding: responsive.vc(4) 0 0;
		font-size: responsive.vc(14);
		line-height: calc(20 / 14);

		@include breakpoint.desktop {
			font-size: responsive.vc(16);
			line-height: calc(24 / 16);
		}
	}

	&__timer {
		margin: 0 0 responsive.vc(24);
		font-weight: 700;
		font-size: responsive.vc(32);
		line-height: math.div(38, 32);

		@include breakpoint.tablet {
			margin: 0 0 responsive.vc(32);
		}

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(32);
		}
	}

	&__emoji {
		margin: 0 0 responsive.vc(24);
		width: responsive.vc(100);
		height: responsive.vc(100);
		color: #292d32;

		@include breakpoint.mobile {
			margin: 0 0 responsive.vc(12);
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: responsive.vc(8);

		@include breakpoint.desktop {
			gap: responsive.vc(12);
		}
	}

	&__card {
		border: 2px solid rgba(variables.$color-azure-radiance, 0);
		border-radius: responsive.vc(20);
		padding: responsive.vc(8) 0 0;
		width: responsive.vc(92);
		height: responsive.vc(92);
		background-color: variables.$color-white;
		transition: border-color variables.$duration-normal * 0.5;

		.icon-amnezia {
			background: url(variables.$url-image + 'png/icon-amnezia.png') no-repeat center center;
			background-size: contain;
		}

		.icon-outline {
			background: url(variables.$url-image + 'png/icon-outline.png') no-repeat center center;
			background-size: contain;
		}

		.icon-amnezia,
		.icon-outline {
			width: 100%;
			height: 100%;
		}

		&.is-active {
			border-color: variables.$color-azure-radiance;
			cursor: pointer;

			#{$p}__card-icon {
				color: rgba(variables.$color-white, 0.5);

				// background-color: $color-azure-radiance;

				.icon-amnezia {
					background: url(variables.$url-image + 'png/icon-amnezia-active.png') no-repeat center center;
					background-size: contain;
				}

				.icon-outline {
					background: url(variables.$url-image + 'png/icon-outline-active.png') no-repeat center center;
					background-size: contain;
				}
			}

			#{$p}__card-text {
				font-weight: 700;
			}
		}

		@include breakpoint.desktop {
			padding: responsive.vc(12) 0 0;
			width: responsive.vc(125);
			height: responsive.vc(118);
			cursor: pointer;

			&:hover {
				border-color: variables.$color-azure-radiance;
			}
		}
	}

	&__card-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		margin: 0 auto responsive.vc(8);
		border-radius: responsive.vc(16);
		width: responsive.vc(52);
		height: responsive.vc(52);
		color: variables.$color-oslo-grey;
		background-color: variables.$color-catskill-white;
		transition: color variables.$duration-normal, background-color variables.$duration-normal;

		@include breakpoint.desktop {
			border-radius: responsive.vc(20);
			width: responsive.vc(70);
			height: responsive.vc(70);
		}
	}

	&__card-text {
		margin: 0 auto;
		font-weight: 500;
		font-size: responsive.vc(12);
		line-height: calc(14 / 12);
		text-align: center;
		color: variables.$color-biscay;

		@include breakpoint.desktop {
			font-size: responsive.vc(14);
			line-height: calc(16 / 14);
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: responsive.vc(24);
		width: 100%;
		gap: responsive.vc(20);

		&--qr {
			@include breakpoint.mobile {
				flex-direction: column;
				gap: responsive.vc(12);
			}
		}

		&--os {
			flex-direction: column;
			gap: responsive.vc(8);
		}

		@include breakpoint.mobile {
			a > span {
				line-height: normal;
			}
		}
	}

	&__button {
		width: responsive.vc(125);
		height: responsive.vc(40);
		font-family: "Raleway", sans-serif;

		&.share {
			margin: responsive.vc(20) 0 0;
			width: 100%;
		}

		&.welcome {
			width: responsive.vc(211);
		}

		&.add-button {
			position: absolute;
			right: responsive.vc(40);
			top: responsive.vc(122);
			width: responsive.vc(162);
			height: responsive.vc(42);
		}

		&.welcome-save {
			margin-top: responsive.vc(8);
			height: responsive.vc(48);
		}

		&.welcome-delete,
		&.welcome-search {
			margin-top: responsive.vc(8);
		}

		&.os-button {
			width: responsive.vc(183);
		}

		&.os-color {
			font-weight: 700;
			color: variables.$color-white;
			background-color: variables.$color-azure-radiance;
		}

		@include breakpoint.mobile {
			width: responsive.vc(211);
			height: responsive.vc(40);

			&.share {
				margin: 0 auto;
				width: responsive.vc(211);
			}

			.qr-buttons & {
				width: responsive.vc(175);
			}
		}

		@include breakpoint.tablet {
			width: responsive.vc(211);
		}

		@include breakpoint.desktop {
			width: responsive.vc(211);

			&.os-button {
				width: responsive.vc(150);
			}
		}
	}

	.qr-code {
		margin: 0 0 responsive.vc(24);
		width: responsive.vc(250);
		height: responsive.vc(250);

		@include breakpoint.desktop {
			margin: 0 0 responsive.vc(32);
		}
	}

	&__button-img {
		width: responsive.vc(20);
		height: responsive.vc(20);
	}

	&__close {
		position: absolute;
		right: responsive.vc(22);
		top: responsive.vc(22);
		width: responsive.vc(20);
		height: responsive.vc(20);
		color: variables.$color-shark;
		cursor: pointer;
	}

	&__fake-button {
		&-qr {
			height: responsive.vc(40);
		}
	}

	&__error-link {
		font-weight: 700;
		text-decoration-line: underline;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		color: #0179e5;
	}

	&__outline-block {
		margin-top: responsive.vc(8);
		width: 100%;
		max-width: 100%;
	}

	&__outline-link {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		margin: responsive.vc(4) 0 responsive.vc(8);
		border-radius: responsive.vc(4);
		padding: responsive.vc(8);
		height: responsive.vc(34);
		line-height: responsive.vc(18);
		text-decoration-line: none;
		background: #fff;
		gap: responsive.vc(8);

		input {
			overflow: hidden;
			width: 100%;
			font-size: responsive.vc(12);
			white-space: nowrap;
			text-overflow: ellipsis;
			color: variables.$color-azure-radiance;

			&:focus {
				~ span {
					display: none;
				}
			}
		}

		span {
			flex-shrink: 0;
			width: responsive.vc(16);
			height: responsive.vc(16);
			cursor: pointer;
		}

		p {
			position: absolute;
			right: responsive.vc(4);
			top: calc(50% - #{responsive.vc(12)});
			z-index: 2;
			border-radius: responsive.vc(4);
			padding: responsive.vc(5) responsive.vc(10);
			height: responsive.vc(24);
			box-shadow: 0 0 6px 0 rgba(105, 105, 105, 0.25);
			font-size: responsive.vc(14);
			line-height: 1;
			color: variables.$color-biscay;
			background-color: variables.$color-white;
			animation: copyShow 2s forwards;
		}
	}

	&__outline-footer {
		display: block;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: #7a7a7a;
	}

	&__copy-success {
		color: #9bafbd;
	}

	&__copy-error {
		color: #ed0b70;
	}

	&__notifications {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: responsive.vc(20);
		padding: responsive.vc(32) responsive.vc(16);
		width: calc(100% - #{responsive.vc(32)});
		background-color: variables.$color-catskill-white;

		@include breakpoint.tablet {
			padding: responsive.vc(64);
			width: responsive.vc(670);
		}

		@include breakpoint.desktop {
			padding: responsive.vc(64);
			width: responsive.vc(670);
		}
	}

	&__notifications-icon {
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
		margin: 0 auto responsive.vc(12);
		border-radius: 50%;
		width: responsive.vc(68);
		height: responsive.vc(68);
		background: linear-gradient(135deg, rgba(190, 248, 252, 0) 13.11%, #57c3ff 87.68%);

		svg {
			display: block;
		}

		@include breakpoint.tablet {
			margin: 0 auto responsive.vc(24);
			width: responsive.vc(94);
			height: responsive.vc(94);
		}

		@include breakpoint.desktop {
			margin: 0 auto responsive.vc(24);
			width: responsive.vc(94);
			height: responsive.vc(94);
		}
	}

	&__notifications-title {
		margin: 0 auto responsive.vc(12);
		font-weight: 700;
		font-size: responsive.vc(18);
		line-height: calc(21 / 18);
		text-align: center;

		@include breakpoint.tablet {
			margin: 0 auto responsive.vc(4);
			font-size: responsive.vc(24);
			line-height: calc(28 / 24);
		}

		@include breakpoint.desktop {
			margin: 0 auto responsive.vc(4);
			font-size: responsive.vc(24);
			line-height: calc(28 / 24);
		}
	}

	&__notifications-text {
		margin: 0 auto responsive.vc(24);
		font-size: responsive.vc(14);
		line-height: calc(21 / 14);
		text-align: center;

		@include breakpoint.tablet {
			margin: 0 auto responsive.vc(32);
			font-size: responsive.vc(16);
			line-height: calc(24 / 16);
		}

		@include breakpoint.desktop {
			margin: 0 auto responsive.vc(32);
			font-size: responsive.vc(16);
			line-height: calc(24 / 16);
		}
	}

	&__notifications-button {
		width: responsive.vc(211);
		height: responsive.vc(40);
	}

	&__icon-welcome,
	&__icon-welcome-congrats {
		margin: 0 0 responsive.vc(24);
		width: responsive.vc(94);
		height: responsive.vc(94);
		background: url(variables.$url-image + 'svg/icon-lamp.svg') no-repeat center center;
		background-size: contain;
	}

	&__copy-success,
	&__copy-error {
		margin-top: responsive.vc(8);
		font-family: "Raleway", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: responsive.vc(12);
		line-height: responsive.vc(17);
		text-align: center;
	}

	&--welcome {
		z-index: 20;
	}

	@keyframes copyShow {
		0% {
			opacity: 0;
		}

		10% {
			opacity: 1;
		}

		70% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}

svg.leader-line--desktop {
	display: block;

	@include breakpoint.mobile {
		display: none;
	}

	@include breakpoint.tablet {
		display: none;
	}
}

svg.leader-line--tablet {
	display: none;

	@include breakpoint.tablet {
		display: block;
	}

	@include breakpoint.mobile {
		display: none;
	}
}

svg.leader-line--mobile {
	display: none;

	@include breakpoint.tablet {
		display: none;
	}

	@include breakpoint.mobile {
		display: block;
	}
}

.vip .popup {
	&__overlay {
		background: #131313a8;
		backdrop-filter: blur(6.25px);
	}

	&__alert {
		border: 1px solid #fff293;
		background-color: #00000038;
	}

	&__emoji {
		color: variables.$color-gold;
	}

	&__buttons {
		&--qr .popup__button {
			border-color: variables.$color-gold;
			color: variables.$color-gold;

			@include breakpoint.desktop {
				&:hover {
					svg {
						filter: unset;
					}
				}
			}
		}
	}

	.svg-icon--link {
		color: variables.$color-gold;
	}

	&__close {
		color: variables.$color-white;
	}

	.popup__icon-sad-error {
		color: variables.$color-gold;
	}

	.popup__text {
		color: variables.$color-white;
	}

	.popup__error-link {
		color: variables.$color-gold;
	}

	.popup__emoji {
		color: variables.$color-gold;
	}

	.popup__title--time-exp {
		color: variables.$color-gold;
	}
}
