.popup {
	$p: &;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	&__fake-area {
		position: absolute;
	}

	&__overlay {
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.6);
		@include mobile {
			background: unset;
		}

		&.welcome, &.error {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		&.welcome {
			backdrop-filter: blur(vc(7));
		}

		&.error {
			background: rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(12px);
		}

		&.qr {
			width: vc(466);
			height: vc(495);
			left: auto;
			top: vc(163);
			z-index: 5;
			backdrop-filter: none;
			background: rgba(0, 0, 0, 0.2);
			border-radius: vc(10);

			@include tablet {
				top: vc(70);
			}

			@include mobile {
				width: vc(345);
				height: vc(479);
				top: vc(-145);
			}
		}

		&.notifications {
			backdrop-filter: blur(vc(4));
			background: rgba($color-black, 0.1);
		}
	}

	&__alert {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: vc(20);
		padding: vc(32) vc(25);
		width: calc(100% - #{vc(60)});
		background-color: $color-catskill-white;
		backdrop-filter: blur(vc(34));

		@include mobile {
			padding: vc(32) vc(16);
			box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 50vw;
		}

		&.error {
			width: vc(440);
			height: vc(396);
			backdrop-filter: blur(17px);
			padding: vc(40) vc(41);

			@include mobile {
				width: vc(325);
				height: vc(389);
				padding: vc(40) vc(10);
			}
		}

		&.welcome {
			width: vc(440);
			height: vc(374);
		}

		&.welcome-add {
			width: vc(440);
			height: vc(160);
			padding: 0;
		}

		&.welcome-qr {
			width: vc(440);
			height: vc(466);
			padding: calc(53 * var(--width-multiplier)) calc(50 * var(--width-multiplier));
			position: absolute;
			top: vc(177);
			left: auto;

			&-description {
				width: vc(440);
				height: vc(180);
				position: absolute;
				top: vc(177);
				right: vc(40);
				padding: calc(32 * var(--width-multiplier)) calc(42 * var(--width-multiplier));
			}
		}

		&.welcome-save, &.welcome-delete, &.welcome-search {
			width: vc(440);
			padding: calc(32 * var(--width-multiplier)) calc(41 * var(--width-multiplier));
		}

		&.welcome-save {
			position: absolute;
			top: vc(302);
			right: auto;
			height: vc(216);
		}

		&.welcome-delete {
			position: absolute;
			top: vc(480);
			right: auto;
			height: vc(228);
		}

		&.welcome-search {
			height: vc(180);
		}

		&.welcome-congrats {
			width: vc(440);
			height: vc(346);
			padding: calc(32 * var(--width-multiplier)) calc(41 * var(--width-multiplier));
		}

		@include tablet {
			padding: vc(32);
			width: vc(440);

			&.welcome-qr {
				top: vc(84);

				&-description {
					top: vc(579);
					right: auto;
					left: auto;
				}
			}

			&.welcome-save, &.welcome-delete, &.welcome-search {

			}

			&.welcome-save {
				top: vc(462);
				right: vc(32);
				width: vc(374);
				padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
			}

			&.welcome-delete {
				top: vc(517);
				right: vc(32);
				width: vc(374);
				height: calc(260 * var(--width-multiplier));
				padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
			}
		}

		@include desktop {
			padding: vc(32);
			width: vc(440);
		}

		@include mobile {
			&.welcome{
				width: vc(326);
				height: vc(304);
			}

			&.welcome-add {
				width: calc(325 * var(--width-multiplier));
				height: calc(148 * var(--width-multiplier));
				position: absolute;
				top: calc(284 * var(--width-multiplier));
				padding: vc(15);
			}

			&.welcome-congrats {
				width: calc(325 * var(--width-multiplier));
				height: calc(276 * var(--width-multiplier));
				padding: calc(32 * var(--width-multiplier)) calc(15 * var(--width-multiplier));
			}

			&.welcome-qr {
				width: vc(325);
				height: vc(451);
				top: vc(-130);
				left: auto;

				&-description {
					width: vc(325);
					height: vc(164);
					top: vc(375);
					left: auto;
					right: auto;
					padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
				}
			}

			&.welcome-save {
				width: vc(316.4);
				height: vc(184);
				top: vc(25);
				right: auto;
				padding: calc(32 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
			}

			&.welcome-delete {
				width: vc(316.4);
				height: vc(200);
				top: vc(265);
				right: auto;
				padding: vc(20) vc(10);
			}

			&.welcome-search {
				position: absolute;
				top: vc(245);
				right: vc(30);
				width: vc(325);
				height: vc(164);
				padding: vc(32) vc(10);
			}
		}
	}

	&__icon {
		margin: 0 0 vc(24);
		border: 1px solid $color-razzmatazz;
		border-radius: 50%;
		width: vc(94);
		height: vc(94);

		svg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			font-family: "object-fit:cover", serif;
		}
	}

	&__icon-welcome, &__icon-welcome-congrats {
		margin: 0 0 vc(24);
		width: vc(94);
		height: vc(94);
		background:  url($url-image + 'svg/icon-lamp.svg') no-repeat center center;
		background-size: contain;
	}

	&__icon-welcome-congrats {
		background:  url($url-image + 'svg/icon-medal-star.svg') no-repeat center center;
		background-size: contain;
	}

	&__icon-arrow-add {
		position: absolute;
		top: vc(20);
		right: vc(50);
		width: 30%;
		height: 30%;
		background:  url($url-image + 'svg/arrow-welcome-add.svg') no-repeat center center;
		background-size: cover;
	}

	&__icon-qr-code {
		margin-bottom: vc(32);
		height: vc(158);

		@include mobile {
			& {
				margin-bottom: vc(24);
			}
		}
	}

	&__icon-sad-error {
		width: vc(100);
		height: vc(100);
		background:  url($url-image + 'svg/icon-sad-error.svg') no-repeat center center;
		background-size: cover;
		margin: 0 0 vc(32);
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: vc(8);

		@include mobile {
			gap: vc(2);
		}
	}

	&__title {
		margin: 0 0 vc(16);
		font-weight: 700;
		font-size: vc(16);
		line-height: (19 / 16);
		text-align: center;

		&.error {
			font-size: vc(24);
			line-height: vc(28);
			margin: 0 0 vc(8);

			@include mobile {
				font-size: vc(18);
				line-height: vc(21);
			}
		}

		&.welcome {
			width: vc(357);
			font-size: vc(24);

			@include mobile {
				& {
					font-size: vc(16);
					width: vc(275);
				}
			}
		}
		&.welcome-add {
			font-size: vc(17);
			line-height: vc(20);
		}

		&.qr-title {
			margin: 0 0 vc(8);

			&-description {
				font-size: vc(17);
				line-height: vc(20);
				margin: 0 0 calc(16 * var(--width-multiplier));
			}
		}

		&.title-regular {
			font-weight: 400;
		}

		&.save-title {
			font-size: vc(17);
			line-height: vc(20);
			margin: 0 0 calc(8 * var(--width-multiplier));
		}

		&.welcome-congrats {
			margin: 0 0 calc(24 * var(--width-multiplier));
		}

		@include tablet {
			margin: 0 0 vc(24);
			max-width: vc(357);
			font-size: vc(24);
			line-height: (28 / 24);

			&.qr-title {
				margin: 0 0 vc(8);
			}
		}

		@include desktop {
			margin: 0 0 vc(24);
			max-width: vc(357);
			font-size: vc(24);
			line-height: (28 / 24);

			&.qr-title {
				margin: 0 0 vc(8);
			}
		}

		@include mobile {
			&.welcome-congrats {
				font-size: vc(16);
				line-height: vc(19);
				margin: 0 0 calc(8 * var(--width-multiplier));
			}

			&.welcome-add {
				font-size: vc(14);
				line-height: vc(16);
			}

			&.qr-title {
				font-size: vc(18);
				line-height: vc(21);

				&-description {
					font-size: vc(14);
					line-height: vc(16);
				}
			}
			&.save-title {
				font-size: vc(14);
				line-height: vc(16);
			}

			&.welcome-congrats {
				margin: 0 0 calc(16 * var(--width-multiplier));
			}
		}
	}

	&__subtitle {
		margin-bottom: vc(4);
		text-align: center;
		line-height: vc(24);

		@include mobile {
			&.qr-subtitle {
				font-size: vc(14);
				line-height: vc(20);
			}
		}

		a {
			font-weight: 700;
			text-decoration: underline;
		}
	}

	&__text {
		margin: 0 0 vc(12);
		font-size: vc(16);
		line-height: (24 / 16);

		&.error {
			font-size: vc(16);
			line-height: vc(24);
			text-align: center;
			color: #1D4365;

			@include mobile {
				font-size: vc(14);
				line-height: vc(20);
				width: vc(244);
			}

			&>span {
				margin-right: vc(2);
			}
		}

		&.welcome {
			margin-top: vc(12);
			text-decoration: underline;

			&.bottom-close {
				position: absolute;
				bottom: vc(100);
				color: white;
				font-size: vc(14);
				line-height: vc(16);

				&.top {
					@include mobile {
						top: vc(60);
					}
				}
				@include tablet {
					bottom: vc(10);
				}
				@include mobile {
					bottom: vc(10);
				}
			}
		}
	}

	&__name {
		margin: 0 0 vc(4);
		font-size: vc(14);
		line-height: calc(24 / 14);
		color: rgba($color-biscay, 0.4);

		@include desktop {
			margin: 0 0 vc(8);
			font-size: vc(16);
			line-height: calc(24 / 16);
		}
	}

	&__tunnel {
		display: block;
		padding: vc(4) 0 0;
		font-size: vc(14);
		line-height: calc(20 / 14);

		@include desktop {
			font-size: vc(16);
			line-height: calc(24 / 16);
		}
	}

	&__timer {
		margin: 0 0 vc(24);
		font-weight: 700;
		font-size: vc(32);
		line-height: (38 / 32);

		@include tablet {
			margin: 0 0 vc(32);
		}

		@include desktop {
			margin: 0 0 vc(32);
		}
	}

	&__emoji {
		margin: 0 0 vc(24);
		width: vc(100);
		height: vc(100);

		@include mobile {
			margin: 0 0 vc(12);
		}
	}

	&__cards {
		display: grid;
		gap: vc(8);
		grid-template-columns: repeat(2, 1fr);

		@include desktop {
			gap: vc(12);
		}
	}

	&__card {
		border: 2px solid rgba($color-azure-radiance, 0);
		border-radius: vc(20);
		padding: vc(8) 0 0;
		width: vc(92);
		height: vc(92);
		background-color: $color-white;
		transition: border-color $duration-normal / 2;

		& .icon-amnezia,
		& .icon-outline {
			width: 100%;
			height: 100%;
		}

		& .icon-amnezia {
			background: url($url-image + 'png/icon-amnezia.png') no-repeat center center;
			background-size: contain;
		}

		& .icon-outline {
			background: url($url-image + 'png/icon-outline.png') no-repeat center center;
			background-size: contain;
		}

		&.is-active {
			border-color: $color-azure-radiance;
			cursor: pointer;

			#{$p}__card-icon {
				color: rgba($color-white, 0.5);
				// background-color: $color-azure-radiance;

				& .icon-amnezia {
					background: url($url-image + 'png/icon-amnezia-active.png') no-repeat center center;
					background-size: contain;
				}

				& .icon-outline {
					background: url($url-image + 'png/icon-outline-active.png') no-repeat center center;
					background-size: contain;
				}
			}

			#{$p}__card-text {
				font-weight: 700;
			}
		}

		@include desktop {
			padding: vc(12) 0 0;
			width: vc(125);
			height: vc(118);
			cursor: pointer;

			&:hover {
				border-color: $color-azure-radiance;
			}
		}
	}

	&__card-icon {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto vc(8);
		border-radius: vc(16);
		width: vc(52);
		height: vc(52);
		color: $color-oslo-grey;
		background-color: $color-catskill-white;
		transition: color $duration-normal, background-color $duration-normal;

		@include desktop {
			border-radius: vc(20);
			width: vc(70);
			height: vc(70);
		}
	}

	&__card-text {
		margin: 0 auto;
		font-weight: 500;
		font-size: vc(12);
		line-height: calc(14 / 12);
		text-align: center;
		color: $color-biscay;

		@include desktop {
			font-size: vc(14);
			line-height: calc(16 / 14);
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: vc(20);
		margin-top: vc(24);
		width: 100%;

		@include mobile {

			& a > span {
				line-height: normal;
			}
		}

		&--qr {
			@include mobile {
				flex-direction: column;
				gap: vc(12);
			}
		}

		&--os {
			flex-direction: column;
			gap: vc(8);
		}
	}

	&__button {
		width: vc(125);
		height: vc(40);
		font-family: "Raleway", sans-serif;

		&.share {
			margin: vc(20) 0 0;
			width: 100%;
		}

		&.welcome {
			width: vc(211);
		}

		&.add-button{
			position: absolute;
			top: vc(122);
			right: vc(40);
			width: vc(162);
			height: vc(42);
		}

		&.welcome-save {
			height: vc(48);
			margin-top: vc(8);
		}

		&.welcome-delete, &.welcome-search {
			margin-top: vc(8);
		}

		&.os-button {
			width: vc(183);
		}

		&.os-color {
			font-weight: 700;
			color: $color-white;
			background-color: $color-azure-radiance;
		}

		@include mobile {
			width: vc(211);
			height: vc(40);
			.qr-buttons & {
				width: vc(175);
			}

			&.share {
				margin: 0 auto;
				width: vc(211);
			}
		}

		@include tablet {
			width: vc(211);
		}

		@include desktop {
			width: vc(211);

			&.os-button {
				width: vc(150);
			}
		}
	}

	.qr-code {
		margin: 0 0 vc(24);
		width: vc(250);
		height: vc(250);

		@include desktop {
			margin: 0 0 vc(32);
		}
	}

	&__button-img {
		width: vc(20);
		height: vc(20);
	}

	&__close {
		position: absolute;
		top: vc(22);
		right: vc(22);
		width: vc(20);
		height: vc(20);
		color: $color-shark;
		cursor: pointer;
	}

	&__fake-button {
		&-qr {
			height: vc(40);
		}
	}

	&__error-link {
		font-weight: 700;
		text-decoration-line: underline;
		color: #0179E5;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__outline-block {
		max-width: 100%;
		margin-top: vc(8);
	}

	&__outline-link {
		position: relative;
		z-index: 1;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: vc(8);
		border-radius: vc(4);
		padding: vc(8);
		background: #FFF;
		margin: vc(4) 0 vc(8);
		height: vc(34);
		line-height: vc(18);
		text-decoration-line: none;
		
		input {
			overflow: hidden;
			width: 100%;
			font-size: vc(12);
			white-space: nowrap;
			text-overflow: ellipsis;
			color: $color-azure-radiance;

			&:focus {
				~ span {
					display: none;
				}
			}
		}

		span {
			flex-shrink: 0;
			width: vc(16);
			height: vc(16);
			cursor: pointer;
		}

		p {
			position: absolute;
			right: vc(4);
			top: calc(50% - #{vc(12)});
			z-index: 2;
			box-shadow: 0 0 6px 0 rgba(105, 105, 105, 0.25);
			border-radius: vc(4);
			padding: vc(5) vc(10);
			height: vc(24);
			font-size: vc(14);
			line-height: 1;
			color: $color-biscay;
			background-color: $color-white;
			animation: copyShow 2s forwards;
		}
	}

	&__outline-footer {
		display: block;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		text-align: center;
		color: #7A7A7A;
	}

	&__copy-success, &__copy-error {
		text-align: center;
		font-family: "Raleway", sans-serif;;
		font-size: vc(12);
		font-style: normal;
		font-weight: 400;
		line-height: vc(17);
		margin-top: vc(8);
	}

	&__copy-success {
		color: #9BAFBD;
	}

	&__copy-error {
		color: #ED0B70;
	}

	&__notifications {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: vc(20);
		padding: vc(32) vc(16);
		width: calc(100% - #{vc(32)});
		background-color: $color-catskill-white;

		@include tablet {
			padding: vc(64);
			width: vc(670);
		}

		@include desktop {
			padding: vc(64);
			width: vc(670);
		}
	}

	&__notifications-icon {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		flex-shrink: 0;
		border-radius: 50%;
		margin: 0 auto vc(12);
		width: vc(68);
		height: vc(68);
		background: linear-gradient(135deg, rgba(190, 248, 252, 0) 13.11%, #57C3FF 87.68%);

		svg {
			display: block;
		}

		@include tablet {
			margin: 0 auto vc(24);
			width: vc(94);
			height: vc(94);
		}

		@include desktop {
			margin: 0 auto vc(24);
			width: vc(94);
			height: vc(94);
		}
	}

	&__notifications-title {
		margin: 0 auto vc(12);
		font-weight: 700;
		font-size: vc(18);
		line-height: calc(21 / 18);
		text-align: center;

		@include tablet {
			margin: 0 auto vc(4);
			font-size: vc(24);
			line-height: calc(28 / 24);
		}

		@include desktop {
			margin: 0 auto vc(4);
			font-size: vc(24);
			line-height: calc(28 / 24);
		}
	}

	&__notifications-text {
		margin: 0 auto vc(24);
		font-size: vc(14);
		line-height: calc(21 / 14);
		text-align: center;

		@include tablet {
			margin: 0 auto vc(32);
			font-size: vc(16);
			line-height: calc(24 / 16);
		}

		@include desktop {
			margin: 0 auto vc(32);
			font-size: vc(16);
			line-height: calc(24 / 16);
		}
	}

	&__notifications-button {
		width: vc(211);
		height: vc(40);
	}
	
	@keyframes copyShow {
		0% {
			opacity: 0;
		}

		10% {
			opacity: 1;
		}

		70% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}

svg.leader-line:nth-of-type(2) {
	display: block;
	@include mobile {
		display: none;
	}
	@include tablet {
		display: none;
	}
}
svg.leader-line:nth-of-type(3) {
	display: none;
	@include tablet {
		display: block;
	}
	@include mobile {
	display: none;
};}

svg.leader-line:nth-of-type(4) {
	display: none;
	@include tablet {
		display: none;
	}
	@include mobile {
		display: block;
	};}
