.profile {
	$p: &;

	padding: vc(67) vc(30) vc(56);

	&__headline {
		@include desktop {
			display: flex;
			align-items: center;
			justify-content: space-between
		}
	}

	&__title {
		margin: 0 0 vc(16);

		@include tablet {
			margin: 0 0 vc(24);
		}

		@include desktop {
			margin: 0 0 vc(24);
		}
	}

	&__search {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 0 vc(24);

		@include tablet {
			flex-direction: column;
			margin: 0 0 vc(16);
			justify-content: space-between;
		}

		@include mobile {
			margin: 0 0 vc(12);
		}
	}


	&__add-label {
		display: flex;
		gap: vc(10);
		position: relative;
		z-index: 1;
		margin: 0 auto 0 0;

		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			left: vc(12);
			top: vc(12);
			width: vc(16);
			height: vc(16);
			background: url($url-image + 'svg/icon-search.svg') no-repeat center center;
			background-size: cover;
			pointer-events: none;
		}

    @include tablet {
      margin: 0 vc(10) 0 0;
      order: -1;
    }

		@include desktop {
			margin: 0 vc(20) 0 0;
		}

    @include mobile {
      width: 100%;
      justify-content: space-between;
      order: -2;
    }
  }

	&__show-more-container {
		display: flex;
	}

	&__show-more-column {
		flex: 1;
		padding-right: 10px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-content: flex-start;

		&--mobile {
			padding: 0;
		}
	}

  &__search-block {
    display: flex;

    @include tablet {
      order: -1;
      justify-content: space-between;
      width: 100%;
    }

    @include mobile {
      flex-direction: column;
      width: 100%;
      order: -1;
    }
  }

  &__filter-block {
    @include tablet {
      width: 100vw;
      display: flex;
	  height: vc(35);
      justify-content: center;
      background: $color-white;
      padding: vc(7) 0;
      margin: vc(16) vc(-40) 0;

    }

    @include mobile {
		position: relative;
      width: 100vw;
	  height: vc(44);
      display: flex;
      justify-content: center;
      margin: vc(12) vc(-33) 0;
      align-items: center;
      background-color: $color-white;
    }
  }

  &__search-input {
    border-radius: vc(5);
    padding: 0 vc(20) 0 vc(40);
    width: vc(210);
    height: vc(40);
	font-family: $font-raleway;
    font-size: vc(12);
    background-color: $color-white;

	&::placeholder {
		font-size: vc(12);
	}

    @include tablet {
      width: vc(325);
    }

    @include desktop {
      width: vc(210);
    }

		@include mobile {
			width: 67%;
		}
	}

	&__add-button {
		width: vc(105);
		height: vc(40);

		@include tablet {
			width: vc(150);
		}

		@include desktop {
			width: vc(150);
		}

		@include mobile {
			width: 100%;
			margin-top: vc(16);
			order: -1;
		}
	}

	&__message {
		display: flex;
		margin: vc(-8) 0 vc(20);
		border-radius: vc(15);
		padding: vc(16);
		width: 100%;
		background-color: $color-white;

		@include tablet {
			align-items: center;
		}

		@include desktop {
			align-items: center;
			padding: vc(19) vc(24);
		}
	}

	&__message-icon {
		flex-shrink: 0;
		margin: vc(5) vc(16) vc(5) 0;
		border-radius: 50%;
		width: vc(20);
		height: vc(20);
		background-color: $color-razzmatazz;
	}

	&__message-text {
		margin: 0 auto 0 0;
		font-size: vc(16);
		line-height: calc(19 / 16);
		color: $color-razzmatazz;
	}

	&__message-close {
		flex-shrink: 0;
		width: vc(30);
		height: vc(30);
		color: $color-shark;
		opacity: 0.5;
		cursor: pointer;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: vc(16);
		margin: 0 0 vc(40);

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			gap: vc(20);
			margin: 0 0 vc(46);
		}

		@include desktop {
			grid-template-columns: repeat(auto-fill, vc(320));
			gap: vc(20);
			margin: 0 0 vc(70);
		}
	}


	&__card,
	&__add {
		border-radius: vc(20);
		height: vc(260);
	}

	&__card {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		padding: vc(16);
		background-color: $color-white;

		&:nth-child(1){
			border: vc(2) solid $color-puerto-rico;
		}
	}

	&__card-headline {
		display: flex;
		align-items: center;
		margin: 0 0 vc(18);
		position: relative;
	}

	&__card-status {
		position: absolute;
		top: 0;
		right: 0;
		width: vc(20);
		height: vc(20);
		border-radius: 50%;

		&.green {
			background: $color-puerto-rico url($url-image + 'svg/icon-status-deactive.svg') no-repeat center center;
			background-size: cover;
		}

		&.black {
			background: $color-black url($url-image + 'svg/icon-status-deactive.svg') no-repeat center center;
			background-size: cover;
		}

		&.grey {
			background: $color-grey url($url-image + 'svg/icon-status-deactive.svg') no-repeat center center;
			background-size: cover;
		}

		&.yellow {
			background: $color-yellow url($url-image + 'svg/icon-status-deactive.svg') no-repeat center center;
			background-size: cover;
		}

		&.red {
			background: $color-razzmatazz url($url-image + 'svg/icon-status-deactive.svg') no-repeat center center;
			background-size: cover;

		}

		&.tooltip::before {
			content: attr(data-user);
			position: absolute;
			right: vc(48);
			top: calc(-15 * var(--width-multiplier));
			max-width: vc(240);
			font-size: vc(14);
			line-height: vc(16);
			padding: vc(12);
			display: none;
			color: $color-black;
			background: #EFF7F8;
			border-radius: vc(6);
			transition: opacity 0.1s ease-out;
			z-index: 98;
			text-align: left;
			border: vc(1) solid #4cbfa6;
			inline-size: max-content;
			@include mobile {
				right: vc(54);
			}
		}

		&.tooltip.black::before {
			border: vc(1) solid $color-black;
		}

		&.tooltip.black::after {
			border-right: vc(1) solid $color-black;
			border-bottom: vc(1) solid $color-black;
		}

		&.tooltip.grey::before {
			border: vc(1) solid $color-grey;
		}

		&.tooltip.grey::after {
			border-right: vc(1) solid $color-grey;
			border-bottom: vc(1) solid $color-grey;
		}

		&.tooltip.yellow::before {
			border: vc(1) solid $color-yellow;
		}

		&.tooltip.yellow::after {
			border-right: vc(1) solid $color-yellow;
			border-bottom: vc(1) solid $color-yellow;
		}

		&.tooltip.red::before {
			border: vc(1) solid $color-red;
		}

		&.tooltip.red::after {
			border-right: vc(1) solid $color-red;
			border-bottom: vc(1) solid $color-red;
		}

		&.tooltip::after {
			content: '';
			position: absolute;
			display: none;
			background: #EFF7F8;
			border-radius: 0 0 vc(5) 0;
			transition: opacity 0.1s ease-out;
			z-index: 99;
			transform: rotate(-45deg);
			width: vc(17);
			height: vc(17);
			right: vc(40);
			border-right: vc(1) solid #4cbfa6;
			border-bottom: vc(1) solid #4cbfa6;
			@include mobile {
				right: vc(45);
			}
		}

		&.tooltip:hover::before,  &.tooltip:hover::after{
			display: inline-block;
		}
	}

	&__status-color {
		width: vc(8);
		height: vc(8);
		border-radius: 50%;
		margin-top: vc(3);
		margin-left: vc(3);

		&-green {
			background: #4CBFA6;
		}
		&-black {
			background: #000000;
		}
		&-grey {
			background: #8F8F8F;
		}
		&-yellow {
			background: #EAE100;
		}
		&-red {
			background: #ED0B70;
		}
	}

	&__status-description {
		margin-left: 4px;
	}

	&__card-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 vc(16) 0 0;
		border-radius: vc(7.53);
		width: vc(64);
		height: vc(64);
		background: linear-gradient(144.44deg, rgba(190, 248, 252, 0) 21.63%, #57C3FF 88.69%);
	}

	&__card-icon {
		border-radius: 50%;
		width: vc(43);
		height: vc(43);
		background-color: $color-white;
	}

	&__card-name {
		font-weight: 700;
		font-size: vc(16);
		line-height: (19 / 16);
	}

	&__card-features {
		margin: 0 0 auto;

		li {
			font-size: vc(14);
			line-height: (16 / 14);

			&:not(:last-child) {
				margin: 0 0 vc(9);
			}
		}

		b {
			display: inline-block;
			margin: 0 vc(4) 0 0;
			font-weight: 700;
		}

		svg {
			vertical-align: middle;
			display: inline-block;
			margin: 0 vc(4) 0 0;
			width: vc(22);
			height: vc(13);
		}
	}

	&__card-feature {
		display: flex;
	}

	&__card-button {
		border: 1px solid rgba($color-red, 0.5);
		border-radius: vc(5);
		width: vc(85);
		height: vc(30);
		font-weight: 500;
		font-size: vc(12);
		color: rgba($color-red, 0.5);
		transition: background-color $duration-normal;

		&:active {
			background-color:  rgba($color-red, 0.1);
		}

		@include desktop {
			&:hover {
				background-color:  rgba($color-red, 0.1);
			}
		}
	}

	&__add {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px solid $color-azure-radiance;
		color: $color-azure-radiance;
		transition: background-color $duration-normal;

		&:active {
			background-color: $color-white;
		}

		@include desktop {
			&:hover {
				cursor: pointer;
				background-color: $color-white;
			}
		}
	}

	&__add-icon {
		margin: 0 0 vc(16);
		width: vc(40);
		height: vc(40);
	}

	&__add-text {
		font-weight: 700;
		font-size: vc(20);
		line-height: (28 / 20);
		text-align: center;
	}

	&__select {
		display: flex;
		align-items: center;
		margin: 0 0 vc(24);

		@include tablet {
			margin: 0 0 vc(32);
		}
	}

	&__option {
		margin-right: vc(10);
		width: vc(155);
		height: vc(40);

		&:last-child {
			margin-left: 0 !important;
		}

		@include tablet {
			margin-right: vc(20);
			width: vc(230);
		}

		@include desktop {
			margin-right: vc(20);
			width: vc(230);
		}
	}

	&__tab {
		width: 100%;

		&--1 {
			border-radius: vc(10);
			background-color: $color-white;
		}

		@include tablet {
			&--1 {
				border-radius: vc(20);
			}
		}

		@include desktop {
			&--1 {
				border-radius: vc(20);
			}
		}
	}

	&__table {
		position: relative;
		z-index: 1;
		border-radius: vc(10);
		width: 100%;
		font-size: vc(10);
		line-height: (12 / 10);
		background-color: $color-white;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			border: vc(8) solid $color-white;
			border-radius: vc(10);
			pointer-events: none;
		}

		@include tablet {
			border-radius: vc(20);
			font-size: vc(14);
			line-height: (16 / 14);

			&::before {
				border-radius: vc(20);
			}
		}

		@include desktop {
			border-radius: vc(20);
			font-size: vc(14);
			line-height: (16 / 14);

			&::before {
				border-radius: vc(20);
			}
		}
	}

	&__table-head,
	&__table-line {
		display: flex;
		align-self: center;
		height: vc(40);

		@include tablet {
			height: vc(50);
		}

		@include desktop {
			height: vc(50);
		}
	}

	&__table-head {
		font-weight: 700;
	}

	&__table-line {
		border-top: 1px solid $color-silver-chalice;
	}

	&__table-title {
		display: flex;
		align-items: center;
		flex: 1;
		padding: 0 0 0 vc(16);

		@include tablet {
			padding: 0 0 0 vc(24);
		}

		@include desktop {
			padding: 0 0 0 vc(24);
		}
	}

	&__table-column {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		border-left: 1px solid $color-silver-chalice;
		width: vc(65);
		text-align: center;

		&.tooltip::before {
			content: attr(data-user);
			position: absolute;
			right: vc(88);
			max-width: vc(240);
			font-size: vc(14);
			line-height: vc(16);
			padding: vc(12);
			display: none;
			color: $color-black;
			background: #EFF7F8;
			border-radius: vc(6);
			transition: opacity 0.1s ease-out;
			z-index: 98;
			text-align: left;
			border: vc(1) solid #4cbfa6;
			inline-size: max-content;
			@include mobile {
				right: vc(54);
			}
		}
		&.tooltip::after {
			content: '';
			position: absolute;
			display: none;
			background: #EFF7F8;
			border-radius: 0 0 vc(5) 0;
			transition: opacity 0.1s ease-out;
			z-index: 99;
			transform: rotate(-45deg);
			width: vc(17);
			height: vc(17);
			right: vc(80);
			border-right: vc(1) solid #4cbfa6;
			border-bottom: vc(1) solid #4cbfa6;
			@include mobile {
				right: vc(45);
			}
		}

		&.tooltip:hover::before,  &.tooltip:hover::after{
			display: inline-block;
		}

		svg {
			width: vc(16.5);
			height: vc(16.5);
		}

		@include tablet {
			width: vc(115);

			svg {
				width: vc(25);
				height: vc(25);
			}
		}

		@include desktop {
			width: vc(115);

			svg {
				width: vc(25);
				height: vc(25);
			}
		}
	}

	&__accordion {
		font-size: vc(12);
		line-height: (18 / 12);

		@include tablet {
			font-size: vc(16);
			line-height: (24 / 16);
		}

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: vc(16);
      line-height: (24 / 16);
    }
  }

	&__accordion-column {
		width: 100%;

		@include desktop {
			width: calc(50% - #{vc(10)});
		}
	}

	&__accordion-line {
		overflow: hidden;
		margin: 0 0 vc(8);
		border-radius: vc(10);
		width: 100%;

		@include tablet {
			margin: 0 0 vc(16);
		}

		@include desktop {
			margin: 0 0 vc(16);
		}
	}

	&__accordion-question {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: vc(16);
		line-height: vc(19);
		border-radius: vc(10);
		padding: vc(8) vc(65) vc(8) vc(16);
		width: 100%;
		background-color: $color-white;
		min-height: vc(66);
		margin-bottom: vc(16);

		&::before {
			content: "";
			position: absolute;
			right: vc(16);
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			width: vc(16);
			height: vc(16);
			background: url($url-image + 'svg/arrow-down.svg') no-repeat center center;
			background-size: cover;
			pointer-events: none;
			transition: transform $duration-normal;
			will-change: transform;
		}

		&--open {
			&::before {
				top: 50%;
				transform: rotate(180deg) translate(50%, 50%);
				transition: transform $duration-normal;
			}
		}

		#{$p}__accordion-line.status-green & {
			&::before {
				transform: rotate(180deg);
			}
		}

		@include mobile {
			font-size: vc(12);
			line-height: vc(14);
		}

		@include tablet {
			padding: vc(8) vc(65) vc(8) vc(24);

			&::before {
				right: vc(24);
				width: vc(24);
				height: vc(24);
			}
		}

		@include desktop {
			padding: vc(8) vc(65) vc(8) vc(24);
			cursor: pointer;

			&::before {
				right: vc(24);
				width: vc(24);
				height: vc(24);
			}
		}
	}

	&__accordion-responsion {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;

		& p {
			padding: vc(5) 0 vc(15) vc(10);
			font-size: vc(16);
			line-height: vc(24);

			@include mobile {
				font-size: vc(12);
				line-height: vc(18);
			}
		}

		&--open {
			max-height: 500px;

			transition: max-height 0.5s ease-in;
		}
	}

  &__accordion-content {
    padding: vc(8) 0;

		@include tablet {
			padding: vc(16) 0 0;
		}

		@include desktop {
			padding: vc(16) 0 0;
		}
	}

	&__chart {
		color: $color-black;

		@include desktop {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}

	&__chart-title {
		position: relative;
		z-index: 1;
		display: flex;
		margin: 0 0 vc(12);
		width: fit-content;
		font-weight: 700;
		font-size: vc(16);
		line-height: calc(19 / 16);

		@include tablet {
			margin: 0 0 vc(18);
			font-size: vc(21);
			line-height: calc(25 / 21);
		}

		@include desktop {
			margin: 0 0 vc(18);
			font-size: vc(21);
			line-height: calc(25 / 21);
		}
	}

	&__chart-select {
		position: relative;
		z-index: 1;
		text-decoration: underline;

		span {
			display: block;
			cursor: pointer;
		}
	}

	&__chart-options {
		position: absolute;
		left: 0;
		top: calc(100% + #{vc(4)});
		z-index: 10;
		border-radius: vc(4);
		box-shadow: 0 0 vc(4) rgba(79, 79, 79, 0.25);
		min-width: 100%;
		background-color: $color-white;
		
		span {
			position: relative;
			z-index: 1;
			display: block;
			padding: vc(8) vc(16);
			font-weight: 400;
			font-size: vc(12);
			line-height: vc(15);
			white-space: nowrap;
			
			&::first-letter {
				text-transform: uppercase;
			}

			&:not(:first-child) {
				&::before {
					content: "";
					position: absolute;
					left: vc(8);
					right: vc(8);
					top: 0;
					height: 1px;
					background-color: $color-catskill-white;
				}
			}
		}

		@include desktop {
			span {
				transition: background-color $duration-normal / 2;
				cursor: pointer;

				&:hover {
					background-color: $color-catskill-white;
				}
			}
		}
	}

	&__chart-graph {
		margin: 0 0 vc(24);

		@include desktop {
			margin: 0 vc(20) 0 0;
			width: 100%;
		}
	}

	&__chart-line {
		border-radius: vc(18);
		padding: vc(20) vc(14) vc(14);
		width: 100%;
		height: vc(220);
		background-color: $color-white;

		@include mobile {
			width: vc(785);
		}

		@include desktop {
			border-radius: vc(20);
			padding: vc(24) vc(15) vc(14);
			width: 100%;
			height: vc(250);

			canvas {
				width: 100% !important;
			}
		}
	}

	&__chart-scroll {
		width: 100%;
		height: 100%;

		@include mobile {
			overflow-x: scroll;
			margin: 0 vc(-30);
			padding: 0 vc(30);
			width: calc(100% + #{vc(60)});
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	&__chart-data {
		@include desktop {
			flex-shrink: 0;
			width: vc(440);
		}
	}

	&__chart-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: vc(15);
		row-gap: vc(12);

		@include tablet {
			justify-content: flex-start;
			column-gap: vc(20);
		}

		@include desktop {
			justify-content: flex-start;
			column-gap: vc(20);
		}
	}

	&__chart-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-shrink: 0;
		border: 1px solid $color-white;
		border-radius: vc(20);
		padding: vc(26) 0;
		width: calc(50% - #{vc(7.5)});
		height: vc(119);
		background-color: $color-white;
		transition: border-color $duration-normal / 2;

		&.is-select {
			border-color: $color-azure-radiance;
		}

		@include tablet {
			padding: vc(18) vc(26) vc(10);
			width: vc(210);
		}

		@include desktop {
			padding: vc(18) vc(26) vc(10);
			width: vc(210);

			&:hover {
				border-color: $color-azure-radiance;
			}
		}
	}

	&__chart-num {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: vc(30);
		line-height: calc(35 / 30);

		span {
			width: vc(10);
			height: vc(20);
		}

		svg {
			display: block;
			margin: 0 0 0 vc(2);
		}

		@include tablet {
			font-size: vc(35);
			line-height: calc(41 / 35);

			span {
				height: vc(25);
			}
		}

		@include desktop {
			font-size: vc(35);
			line-height: calc(41 / 35);

			span {
				width: vc(10);
				height: vc(25);
			}
		}
	}

	&__chart-text {
		margin: auto;
		font-size: vc(14);
		line-height: calc(16 / 14);
	}

	@include tablet {
		padding: vc(87) vc(25) vc(56);
	}

	@include desktop {
		margin: 0 auto;
		padding: vc(110) vc(40) vc(80);
		// max-width: vc(1360);
	}
}

  .filter-component, .sort-filter, .status-filter {
    display: flex;
    align-items: center;
	font-family: $font-raleway;
  }

  .filter-component {
    gap: vc(24);
    margin-right: vc(32);

    &__title {
      font-weight: 700;
      font-size: 12px;
      text-align: right;
      color: #1D4365;
    }

    @include tablet {
      margin: 0;
    }
  }

.sort-filter, .status-filter {
	gap: vc(8);

	label {
		font-weight: 700;
		font-size: vc(12);
		line-height: vc(21);
	}

	select {
		font-weight: 500;
		font-size: vc(12);
		line-height: vc(21);
		cursor: pointer;
	}
}

.sort-filter {
	gap: vc(4);
}

.status-filter {
	gap: vc(8);
}

.leader-line {
  z-index: 1
}

.highlight {
  z-index: 25
}

.status-filter__button {
  position: relative;

	@include mobile {
		position: unset;
	}
}

.status-filter__filter-menu {
  display: none;
  position: absolute;
  top: calc(100% + #{vc(4)});
  width: vc(220);
  background-color: white;
  border-radius: vc(4);
  box-shadow: 0px 0px 4px rgba(79, 79, 79, 0.25);
  z-index: 10;

	@include mobile {
		left: calc(50% - vc(110));
	}


  .status-filter__filter-item {
	position: relative;
	z-index: 1;
    display: flex;
    align-items: center;
    padding: vc(8) vc(12);
	font-size: vc(12);
	line-height: vc(15);
	color: $color-biscay;
	transition: background-color $duration-normal / 2;
	cursor: pointer;

	&:not(:first-child) {
		&::before {
			content: "";
			position: absolute;
			left: vc(8);
			right: vc(8);
			top: 0;
			height: 1px;
			background-color: $color-catskill-white;
		}
	}

	&:hover {
		background-color: $color-catskill-white;
	}

    .status-filter__filter-name {
      margin-left: vc(10);
    }
  }

  &.active {
    display: block;
  }
}

.status-filter__icon {
  display: block;
  height: vc(12);
  width: vc(12);

  &.main-icon {
    // margin: auto;
  }

  &.all {
    background: url($url-image + 'svg/all.svg') no-repeat center center;

  }

  &.green {
    background: url($url-image + 'svg/green.svg') no-repeat center center;
  }

  &.black {
    background: url($url-image + 'svg/black.svg') no-repeat center center;
  }

  &.red {
    background: url($url-image + 'svg/black.svg') no-repeat center center;
  }

  &.yellow {
    background: url($url-image + 'svg/yellow.svg') no-repeat center center;
  }

  &.grey {
    background: url($url-image + 'svg/gray.svg') no-repeat center center;
  }

  &.all, &.green, &.black, &.red, &.yellow, &.grey {
    background-size: contain;
  }
}

.sort-filter__button {
  position: relative;

	@include mobile {
		position: unset;
	}
}

.sort-filter__filter-menu {
	display: none;
	position: absolute;
	top: calc(100% + #{vc(4)} );
	width: vc(220);
	background-color: white;
	border-radius: vc(4);
	box-shadow: 0px 0px 4px rgba(79, 79, 79, 0.25);
	z-index: 10;

	@include mobile {
		left: calc(50% - vc(110));
	}

  	.sort-filter__filter-item {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		padding: vc(8) vc(12);
		font-size: vc(12);
		line-height: vc(15);
		color: $color-biscay;
		transition: background-color $duration-normal / 2;
		cursor: pointer;

		&:not(:first-child) {
			&::before {
				content: "";
				position: absolute;
				left: vc(8);
				right: vc(8);
				top: 0;
				height: 1px;
				background-color: $color-catskill-white;
			}
		}

		&:hover {
			background-color: $color-catskill-white;
		}
  	}

	&.active {
		display: block;
	}
}

.sort-filter__text-label {
	font-size: vc(12);
	line-height: vc(21);
}

.sort-filter__icon {
	flex-shrink: 0;
	display: block;
	height: vc(16);
	width: vc(24);

	&.main-icon {
		margin: auto;
	}
}
.dateAsc {
	background: url($url-image + 'svg/dateAsc.svg') no-repeat center center;
}

.dateDesc {
	background: url($url-image + 'svg/dateDesc.svg') no-repeat center center;
}

.dateAsc, .dateAsc {
  background-size: cover;
}

.sort-filter__filter-name {
  font-size: vc(12);
  line-height: vc(15);
}
