.realisation {
	$p: &;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: vc(40) vc(16);
	width: 100%;

	&__title {
		margin: 0 0 vc(8);
		text-align: center;

		@include tablet {
			margin: 0 0 vc(16);
		}

		@include desktop {
			margin: 0 0 vc(16);
		}
	}

	&__text {
		margin: 0 vc(14) vc(15);
		text-align: center;

		@include tablet {
			margin: 0 0 vc(25);
			max-width: vc(555);

			p {
				line-height: (24 / 16);
			}
		}

		@include desktop {
			margin: 0 0 vc(32);
			max-width: vc(842);

			p {
				line-height: (26 / 18);
			}
		}
	}

	&__cards {
		display: grid;
  		grid-template-rows: repeat(3, 1fr);
		width: vc(325);

		@include tablet {
			width: vc(670);
		}

		@include desktop {
			width: vc(670);
		}
	}

	&__card {
		display: flex;
		align-items: center;
		margin: 0 0 vc(12);
		border: 2px solid $color-malibu;
		border-radius: vc(20);
		padding: vc(24) vc(12);
		transition: background-color $duration-normal;

		&.is-animate {
			background-color: $color-white;

			#{$p}__card-check {
				&::before {
					opacity: 1;
				}

				svg {
					opacity: 1;
				}
			}
		}

		@include tablet {
			margin: 0 0 vc(24);
			border-width: vc(3);
			border-radius: vc(40);
			padding: vc(28) vc(32);
		}

		@include desktop {
			margin: 0 0 vc(40);
			border-width: vc(3);
			border-radius: vc(40);
			padding: vc(32);
		}
	}

	&__card-check {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		flex-shrink: 0;
		margin: 0 vc(20) 0 0;
		border-radius: vc(16);
		width: vc(62);
		height: vc(62);
		background: linear-gradient(144.44deg, rgba($color-french-pass, 0) 21.63%, $color-malibu 88.69%);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: linear-gradient(144.44deg, $color-french-pass 21.63%, $color-malibu 88.69%);
			opacity: 0;
			transition: opacity $duration-normal;
		}

		@include tablet {
			margin: 0 vc(32) 0 0;
			width: vc(100);
			height: vc(100);
		}

		@include desktop {
			margin: 0 vc(41) 0 0;
			width: vc(136);
			height: vc(136);
		}
	}

	&__card-icon {
		border-radius: 50%;
		width: vc(29);
		height: vc(29);
		background-color: $color-white;

		svg {
			opacity: 0;
			transition: opacity $duration-normal;
		}

		@include tablet {
			width: vc(46);
			height: vc(46);
		}

		@include desktop {
			width: vc(62);
			height: vc(62);
		}
	}

	&__card-title {
		margin: 0 0 vc(4);

		@include tablet {
			margin: 0 0 vc(8);
		}

		@include desktop {
			margin: 0 0 vc(8);
		}
	}

	&__card-text {
		font-size: vc(12);
		line-height: (21 / 12);

		@include tablet {
			font-weight: 300;
			font-size: vc(16);
			line-height: (26 / 16);
		}

		@include desktop {
			font-weight: 300;
			font-size: vc(18);
			line-height: (26 / 18);
		}
	}

	&__vignette {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $color-malibu;
		border-radius: vc(20);
		padding: vc(27) vc(14);

		@include tablet {
			border-radius: vc(40);
			padding: vc(55) vc(90);
		}

		@include desktop {
			border-radius: vc(40);
			padding: vc(55) vc(147);
		}
	}

	&__vignette-text {
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-weight: 700;
		font-size: vc(18);
		line-height: (21 / 18);
		text-align: center;

		@include tablet {
			font-size: vc(32);
			line-height: (45 / 32);
		}

		@include desktop {
			font-size: vc(32);
			line-height: (45 / 32);
		}
	}

	@include tablet {
		padding: vc(56) vc(25);
	}

	@include desktop {
		margin: 0 auto;
		padding: vc(100) 0 vc(127);
		max-width: vc(900);
	}
}
