@use "../functions/responsive";
@use "../mixins/breakpoint";
@use "../variables";

.home {
	$p: &;

	position: relative;
	overflow: hidden;
	width: 100%;

	&:has(.popup) {
		z-index: 5;
	}

	&__section {
		position: relative;
		z-index: 2;
		width: 100%;
	}

	&__decor {
		position: absolute;
		z-index: -1;
		inset: 0;

		picture,
		img {
			width: 100%;
			height: 100%;
			font-family: "object-fit:cover;object-position:right top";
			object-fit: cover;
			object-position: right top;
		}

		&--intro {
			@include breakpoint.tablet {
				bottom: responsive.vc(-107);
			}
		}
	}

	&__spot {
		position: absolute;
		left: calc(50% + #{responsive.vc(70)});
		top: responsive.vc(150);
		z-index: 2;
		border-radius: 50%;
		width: responsive.vc(210);
		height: responsive.vc(238);
		background-color: variables.$color-malibu;
		filter: blur(responsive.vc(54));
		mix-blend-mode: multiply;
		transform: translate(-50%, -50%);
		transition: variables.$duration-normal * 2 cubic-bezier(0.23, 1, 0.32, 1);
		pointer-events: none;

		@include breakpoint.tablet {
			left: calc(50% + #{responsive.vc(260)});
			top: responsive.vc(274);
			width: responsive.vc(203);
			height: responsive.vc(283);
		}

		@include breakpoint.desktop {
			left: calc(50% + #{responsive.vc(360)});
			top: responsive.vc(380);
			width: responsive.vc(350);
			height: responsive.vc(350);
		}
	}
}
