+b.about
	+e.description
		+e.H2.title(data-animate="fade-down" data-animate-delay="0.4")
			!=data.about.title
		+e.P.text(data-animate="fade-down" data-animate-delay="0.6")
			!=data.about.text
	+e.cards
		each card, index in Array(3)
			+e.card(data-animate="fade-down" data-animate-delay="0.8")
				+e.card-image
					+e.IMG(src=`${baseDir}images/about/${index + 1}.jpg`, alt="")
				+e.A.card-link(href="#")
					| Link
