+b.generator(data-animate="fade")
	+e.description
		+e.H2.title(data-animate="fade-down" data-animate-delay="0.4")
			!=data.generator.title
		each text, index in data.generator.text
			+e.P.text(data-animate="fade-down" data-animate-delay=index / 10 + 0.6)
				!=text
	+e.cards(data-animate="fade-down" data-animate-delay="0.8")
		each card, index in data.generator.card
			+e.card(class=index === 4 ? '--last' : '')
				if index !== 4
					+e.P.card-num
						!=index + 1
				+e.P.card-text
					!=card
