+b.intro
	+e.H1.title(data-animate="fade-down" data-animate-delay="0.4")
		!=data.intro.title
	+e.P.text(data-animate="fade-down" data-animate-delay="0.6")
		!=data.intro.text
	+e.button(data-animate="fade-down" data-animate-delay="0.8")
		+button(data.intro.button, '#helper', 'intro')
