+b.popup.is-hidden
	+e.overlay
	+e.alert(.is-hiddendata-alet="delete")
		+e.icon
			+svg('icon-alert')
		+e.title
			| Вы уверены что хотите удалить пользователя?
		+e.buttons
			+e.button
				+button('Отмена', 'button', 'close')
			+e.button
				+button('Удалить', 'button', 'delete')
	+e.alert.is-hidden(data-alet="access")
		+e.icon
			+svg('icon-alert')
		+e.title
			| Вы скачивали слишком много торрент файлов.
		+e.text
			| Доступ будет восстановлен через:
		+e.timer
			| 10:00
		+e.button
			+button('Окей', 'button', 'ok')
