+b.support
	+e.H2.title(data-animate="fade-down")
		!=data.support.title
	+e.cards
		each card, index in Array(12)
			+e.card(data-animate="fade-down")
				+picture(`support/${index + 1}`, 'png', false, false, 'support')
